In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('gs://trampact_storage/data/sirene_nice_clean.csv')

/home/primitive/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1,81) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
df.head()

,Unnamed: 0,SIREN,NIC,siret,Statut de diffusion de l'établissement,Date de création de l'établissement,effectifs,Année de la tranche d'effectif de l'établissement,Activité principale de l'établissement,Date de la dernière mise à jour de l'établissement,...,Division de l'unité légale,Groupe de l'unité légale,Classe de l'unité légale,SIRET du siège de l'unité légale,Nature juridique de l'unité légale,Première ligne de l'adressage,Date de fermeture de l'unité légale,Filename,y,x
0,0,337723027,13,33772302700013,O,,1,,67.04,,...,"Hotels, cafes, restaurants",,Debits de boissons (sans spectacle),33772302700013,Entrepreneur individuel,Monsieur MAX CHARASSE,1988-09-20,sirene_v3_42,43.700752,7.274309
1,1,353509078,13,35350907800013,O,1990-01-15,1,,70.2C,,...,Commerce de gros et intermediaires du commerce,Commerce de gros de produits alimentaires,Commerce de gros de fruits et legumes,35350907800013,Société à responsabilité limitée (sans autre i...,BANAFRUIT,,sirene_v3_61,43.668033,7.208477
2,2,353509078,21,35350907800021,O,1991-10-01,1,,51.3A,,...,Commerce de gros et intermediaires du commerce,Commerce de gros de produits alimentaires,Commerce de gros de fruits et legumes,35350907800013,Société à responsabilité limitée (sans autre i...,BANAFRUIT,,sirene_v3_61,43.668033,7.208477
3,3,353509086,24,35350908600024,O,1991-01-03,1,,70.2A,,...,Location et exploitation de biens immobiliers ...,Location et exploitation de biens immobiliers ...,Location de logements,35350908600040,Société en nom collectif,SNC L'ORME,,sirene_v3_61,43.702428,7.271502
4,4,393719638,16,39371963800016,O,,1,,93.0E,,...,Services personnels,Services personnels,Soins de beaute,39371963800016,Entrepreneur individuel,Madame MYRIAM LAMBIC,1995-12-31,sirene_v3_83,43.709118,7.258244