In [4]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 640 kB/s eta 0:00:01
Requirement already satisfied: pandas>=0.24.0 in /home/mchistya/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from geopandas) (1.2.4)
Requirement already satisfied: shapely>=1.6 in /home/mchistya/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from geopandas) (1.7.1)
Collecting fiona>=1.8
  Using cached Fiona-1.8.20-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (15.4 MB)
Collecting pyproj>=2.2.0
  Using cached pyproj-3.1.0-cp38-cp38-manylinux2010_x86_64.whl (6.6 MB)
Collecting munch
  Using cached munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: six>=1.7 in /home/mchistya/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.14.0)
Collecting click-plugins>=1.0
  Using cached click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting cligj>=0.5
  Using cached cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: setuptools in /home/mchistya/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (49.2.1)
Requirement already satisfied: click>=4.0 in /home/mchistya/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: attrs>=17 in /home/mchistya/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (20.3.0)
Requirement already satisfied: certifi in /home/mchistya/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (2020.12.5)
Requirement already satisfied: numpy>=1.16.5 in /home/mchistya/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from pandas>=0.24.0->geopandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/mchistya/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/mchistya/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages (from pandas>=0.24.0->geopandas) (2021.1)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.1.0

In [6]:
import geopandas
import pandas as pd

In [10]:
df=pd.read_csv('../raw_data/bpe_t2_clean.csv')
df.head()

,Unnamed: 0,iris_id,iris_type,iris_with_t1,iris_with_t2,AN,longitude,latitude,"('LAB', 'is_sport')","('LAB', 'is_leasure')",...,"('LAB', 'is_commerce_spec')","('LAB', 'is_grande_surface')","('LAB', 'is_high_educ')","('LAB', 'is_schools')","('LAB', 'is_transport')",Q_XY_acceptable,Q_XY_bonne,Q_XY_mauvaise,LAB,CLASSE
0,0,61230102,H,0,1,2018,7.178602,43.658636,0,1,...,0,0,0,0,0,0.0,1.0,0.0,Électricien,Services a
1,1,61230102,H,0,1,2018,7.178602,43.658636,0,0,...,0,0,0,0,0,0.0,1.0,0.0,Agence immobilière,Services a
2,2,61230102,H,0,1,2018,7.178602,43.658636,0,0,...,0,0,0,0,0,0.0,1.0,0.0,Taxi,Transport
3,3,61230102,H,0,1,2018,7.178602,43.658636,0,0,...,1,0,0,0,0,0.0,1.0,0.0,Taxi,Transport
4,4,60880301,H,1,1,2018,7.283691,43.706875,0,0,...,1,0,0,0,0,0.0,1.0,0.0,"Banque, Caisse d'épargne",Services a

In [11]:
list(df.columns)

['Unnamed: 0',
 'iris_id',
 'iris_type',
 'iris_with_t1',
 'iris_with_t2',
 'AN',
 'longitude',
 'latitude',
 "('LAB', 'is_sport')",
 "('LAB', 'is_leasure')",
 "('LAB', 'is_medical')",
 "('LAB', 'is_socio_med')",
 "('LAB', 'is_tourist')",
 "('LAB', 'is_general_service')",
 "('LAB', 'is_commerce')",
 "('LAB', 'is_commerce_spec')",
 "('LAB', 'is_grande_surface')",
 "('LAB', 'is_high_educ')",
 "('LAB', 'is_schools')",
 "('LAB', 'is_transport')",
 'Q_XY_acceptable',
 'Q_XY_bonne',
 'Q_XY_mauvaise',
 'LAB',
 'CLASSE']